html, body, #root, .app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  width: 100%; /* Полная ширина для контейнера */
  display: block; /* Избегаем использования flex для контейнера */
  padding: 20px; /* Отступы вокруг таблицы */
  max-width: none; /* Убираем ограничение на ширину */
}

.card {
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
  border-radius: 8px; /* Скругленные углы */
}

.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
}

.custom-tooltip .tooltip-inner {
  background-color: #f0f0f0; /* Светло-серый фон */
  color: #000; /* Черный текст */
  border: 1px solid #ccc; /* Серая рамка */
}

.custom-tooltip .tooltip-arrow {
  border-top-color: #f0f0f0 !important; /* Для верхней стрелки */
  border-bottom-color: #f0f0f0 !important; /* Для нижней стрелки */
}

.table {
  width: 100%; /* Устанавливаем ширину 100% для таблицы */
  table-layout: auto; /* Позволяем таблице автоматически растягиваться */
}

.table th, .table td {
  white-space: nowrap; /* Избегаем переноса текста */
  text-overflow: ellipsis; /* Добавляем троеточие, если текст выходит за рамки */
  overflow: hidden; /* Обрезаем текст, если не помещается */
}
