html, body, #root, .app-container {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header, .footer {
  width: 100%;
}

.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
